.page {
  min-height: 100vh;
  background-color: var(--color-dark-900);
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 16px 48px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 24px;
  }
}
