.text {
  margin: 0;
  color: var(--color-light-100);
  font-size: var(--font-size-regular-16);
  font-weight: var(--font-weight-regular-16);
  line-height: var(--line-height-regular-16);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.actions button {
  min-width: 96px;
}
