.frame {
  padding: 24px;
  background-color: var(--color-dark-700);
}

.hoverState textarea {
  border-color: var(--color-dark-100);
}

.activeState textarea {
  border-color: var(--color-light-100);
  color: var(--color-light-100);
}

.focusState textarea {
  color: var(--color-light-100);
  outline: 2px solid var(--color-primary-700);
  outline-offset: 0;
}

.allStates {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 24px 40px;
  align-items: start;
}

.state {
  display: grid;
  gap: 8px;
}

.stateLabel {
  color: var(--color-light-900);
  font-size: 14px;
  line-height: 24px;
}
